.AvatarImage {
    position: relative;
    width: 140px;
    margin: auto;
    box-sizing: border-box;
    filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.25));
    border-radius: 250px;
}

.card-img-top {
    margin-top: 5rem;
    box-sizing: border-box;
    filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.25));
    border-radius: 250px;
}

.Username {
    margin-top: 2rem;
    text-align: center;
    position: relative;
}

.FullName {
    margin-top: 4rem;
    text-align: center;
    position: relative;
    font-size: smaller;
}

.Bio {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}

.BioCard {
    padding: 2rem;
    text-align: center;
    width: 50%;
}

